{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "react-app"
  ],
  "plugins": [
    "@babel/plugin-syntax-json-strings",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-syntax-import-meta",
    "syntax-export-extensions",
    "@babel/plugin-syntax-export-default-from"
  ]
}
