<div id="homepage" v-cloak>
  <form action="" method="POST" role="form">
  	<legend>Form Title</legend>

  	<div class="form-group">
  		<label for=""></label>
  		<input type="text" class="form-control" name="" id="" placeholder="Input...">
  	</div>



  	<button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <ul class="list-group">
    <li v-for="thing in things" class="list-group-item">{{thing.label}}</li>
  </ul>
  <button @click="click(1)" class="btn btn-success">Submit</button>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
